.profile-pic{
    width: 150px;
    height: 150px;
    float: left;
    border-radius:50%;
    margin-right:25px;
}
.review-post{
    margin: 10px 10px 10px 10px;
    background: #fff;
    padding: 20px 20px 20px 20px;
}

.reaction-post{
    margin: 10px 0px 10px 10px;
    background: #f8f8f8;
    padding: 10px 10px 10px 10px;
}

.profile{
    margin: 10px 10px 10px 10px;
    background: #fff;
    padding: 20px 20px 20px 20px;
    text-align: center;
}
