.profile-pic{
    width: 150px;
    height: 150px;
    float: left;
    border-radius:50%;
    margin-right:25px;
}


.body{
  background-color: black;
}

.uploadPic{
	margin-top: 10px;
	padding: 10px 10px 10px 10px;
}

.uploadPic [type=submit]{
	margin-top: 10px;
}

.btn-default{
    background-color: lightgrey;
    border-color: lightgrey;
    color: black;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active
/*.open .dropdown-toggle.btn-default*/{
    color: : #FFFFFF;
    background-color: lightgrey;
    border-color: lightgrey;
}


.profile-pic{
    width: 100px;
    height: 100px;
    float: left;
    border-radius:50%;
    margin-right:25px;
}
.profile{
    margin: 10px 10px 10px 10px;
    background: #fff;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.multi-vertical-scroll{
  height:100vh;
  overflow-y: scroll; 
  background-color: lightgrey;
}

.form-group textarea{
	width:100%;
	resize: none;

}

.panel-content{
    padding: 10px;
}

.panel > .panel-heading{
    background-image: none;
    background-color: dimgray;
    color: white;
}

.panel{
    border-color: dimgray
}
.centering-image{
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.line-break{
    border-width: 5px;
    border-color: darkgrey;
}

.review-box{
    border-color: #dfdfdf;
    border-width: 5px;
}
.response{
    margin: 10px 10px 10px 10px;
	background: #dfdfdf;
	padding: 10px 10px 10px 10px;	
}