body, html {
  
  overflow: hidden;
  height:100%;
  background-color: black;

}


.multi-vertical-scroll{
  height:100%;
  overflow-y: scroll; 
  background-color: lightgrey;
  padding-top: 10px;
  padding-bottom: 70px;


}

.panel-content{
    padding: 10px;
}

.panel > .panel-heading{
    background-image: none;
    background-color: dimgray;
    color: white;
}

.panel{
    border-color: dimgray
}

.centering-image{
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.line-break{
    border-width: 5px;
    border-color: darkgrey;
}

.review-box{
    border-color: dimgrey;
    border-width: 5px;
}

