
body{
  background-color: black;
}


.multi-vertical-scroll{
  height:100vh;
  overflow-y: scroll; 
  background-color: lightgrey;


}

.panel-content{
    padding: 10px;
}

.panel > .panel-heading{
    background-image: none;
    background-color: dimgray;
    color: white;
}

.panel{
    border-color: dimgray
}

.centering-image{
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.line-break{
    border-width: 5px;
    border-color: darkgrey;
}

.review-box{
    border-color: dimgrey;
    border-width: 5px;
}

.response{
    margin: 0px 0px 10px 20px;
  background: #dfdfdf;
  padding: 10px 10px 10px 10px; 
}

.review{
  margin: 0px 0px 10px 0px;
  background: #c6c6c6;
  padding: 10px 10px 10px 10px;
}

.form-group textarea{
  width: 70%;
  resize: none;
  margin: 10px 0px 10px 20px;
}

.profile-pic{
  width: 50px;
  height: 50px;
    
}

.panel-content{
    padding: 10px;
}

.panel{
    border-color: dimgray
}

.panel > .panel-heading{
    background-image: none;
    background-color: dimgray;
    color: white;
}



