body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}

#left {
	background-color: white
}

#right {
	background-color: white
}

#center {
    background-color: gray
}

#left, #center, #right{
  height:100%;
  overflow-y: scroll; 
}